.base-info-page {
    border-radius: 8px;
    padding: 40px 0;
    .el-input__suffix {
        top: 10px;
        right: 12px;
        .el-icon-arrow-up {
            transition: transform 0.3s;
            transform: rotate(0deg);
            background: url('~@/assets/images/common/arrow.png') no-repeat;
            background-size: 9px;
            width: 10px;
            height: 16px;
            &::before {
                display: none;
            }
        }
    }
    .diy-select {
        width: 320px;
        .diy-input {
            input {
                font-size: 14px;
                color: #343434;
                padding: 0 13px;
            }
        }
        .el-icon-caret-bottom {
            right: -8px;
            top: 10px;
        }
        .el-icon-circle-close {
            right: -13px;
            top: 8px;
        }
    }
    .el-radio-group {
        height: 22px;
        .el-radio {
            margin-right: 20px;
        }
        .el-radio__input.is-checked {
            border: 3px solid #1678f9;
            border-radius: 100%;
            .el-radio__inner {
                width: 12px;
                height: 12px;
            }
        }
        .el-radio__inner {
            border-color: #b3b3b3;
            width: 18px;
            height: 18px;
        }
        .el-radio__input.is-checked .el-radio__inner {
            border-color: #fff;
            background: #fff;
            border-radius: 100%;
        }
        .el-radio__inner::after {
            background-color: #1678f9;
            border-radius: 6px;
            width: 6px;
            height: 6px;
        }
        .el-radio__label {
            font-size: 14px;
            color: #b2b2b2;
            vertical-align: middle;
        }
    }
    .base-info-part {
        .el-form {
            width: 400px;
            margin: 0 auto;
        }
        .el-form-item__content {
            width: 300px;
        }
        .el-form-item__label {
            font-size: 14px;
            color: #4d4d4d;
            padding-right: 24px;
            height: 34px;
            line-height: 34px;
            text-align: left;
        }
        .el-input input {
            width: 340px;
            border-color: #E5E5E5;
            border-radius: 4px;
            height: 34px;
        }
        .el-radio {
            height: 34px;
            line-height: 34px;
        }
    }
    .el-textarea {
        width: 340px;
        textarea {
            min-height: 100px !important;
            resize: none;
        }
    }
    .save-btn {
        width: 340px;
        height: 44px;
        border-radius: 4px;
        background-color: #1678F9;
        font-size: 18px;
        margin-top: 18px;
    }
}