.my-center-page {
    .left-nemu {
        width: 180px;
        background-color: white;
        float: left;
    }
    .child-view {
        background-color: #fff;
        width: 1000px;
        float: right;
    }
}