.thread-operation {
    font-size: 13px;
    .el-form {
        margin: 0;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        .el-form-item {
            margin-bottom: 10px;
        }
    }
}